$font: 'Roboto';
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar:hover{
outline: 3px solid #4585FE;
}
html,
.body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}
// ul{
//   // width: 64px;
//   padding:0;
//   margin:0;
//   position: fixed;
//   display:block;
// }





