<nav class="d-flex flex-row min-vh-100" style="background-color: #2547a6">
    <div class="w-100 d-flex flex-column justify-content-between">
        <ul class="navbar-nav mx-2 my-3 p-0 align-items-center">
            <li class="nav-item my-2" routerLink="/">
                <img src="../assets/images/jira-icon.svg" width="28" height="28" />
            </li>
            <li class="nav-item my-2">
                <a class="nav-link"><i class="fas fa-search fa-lg" color="white"></i></a>
            </li>
            <li class="nav-item my-2">
                <a class="nav-link"><i class="fas fa-plus fa-lg" color="white"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav mx-2 my-3 p-0 align-items-center justify-content-end">
            <li>
                <img
                    src="../../../assets/images/tokyo.jpg"
                    width="20px"
                    height="20px"
                    alt="profile-picture"
                    class="avatar"
                />
            </li>
            <li><i class="fas fa-question-circle mt-4" style="font-size: 22px" color="white"></i></li>
        </ul>
    </div>
</nav>
<!-- <nav class="navbar navbar-fixed-left" style="background-color: #2547a6; min-height: 100%; width: 64px">
    <div class="w-100 h-100 d-flex flex-column justify-content-between">
        <ul class="nav" style="border: 1px solid black">
        <li class="nav-item my-2" routerLink="/">
            <img src="../assets/images/jira-icon.svg" width="28" height="28" />
        </li>
        <li class="nav-item my-2">
            <a class="nav-link"><i class="fas fa-search fa-lg" color="white"></i></a>
        </li>
        <li class="nav-item my-2">
            <a class="nav-link"><i class="fas fa-plus fa-lg" color="white"></i></a>
        </li>
    </ul>
    <ul class="nav" style="border: 1px solid black">
        <li>2</li>
    </ul>
        <ul class="navbar-nav mx-2 my-3 p-0 align-items-center">
            <li class="nav-item my-2" routerLink="/">
                <img src="../assets/images/jira-icon.svg" width="28" height="28" />
            </li>
            <li class="nav-item my-2">
                <a class="nav-link"><i class="fas fa-search fa-lg" color="white"></i></a>
            </li>
            <li class="nav-item my-2">
                <a class="nav-link"><i class="fas fa-plus fa-lg" color="white"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav mx-2 my-3 p-0 align-items-center">
            <li>
                <img src="../../../assets/images/tokyo.jpg" alt="profile-picture" class="avatar" />
            </li>
            <li><i class="fas fa-question-circle mt-4" style="font-size: 22px" color="white"></i></li>
        </ul>
    </div>
</nav>-->
