<div class="sidebar-content h-100 d-flex flex-column px-3" style="background-color: #f4f5f7; width: 240px">
    <div class="d-flex flex-row py-3">
        <img
            src="../../../assets/images/projectavatar.svg"
            alt="project icon"
            class="img-responsive"
            style="max-height: 40px; max-width: 40px"
        />
        <div class="d-flex flex-column px-2 table-hover">
            <span class="text text-dark" style="font-size: 15px">Money Heist</span>
            <span class="text text-medium" style="font-size: 13px">Marketing project</span>
        </div>
    </div>
    <ul class="px-1 py-2 mx-1">
        <div class="implemented">
            <li class="px-2 py-2">
                <em class="fas fa-columns" style="margin-right: 16px"></em
                ><a routerLink="/project" routerLinkActive="active" class="text text-dark" style="text-decoration: none"
                    >Kanban Board</a
                >
            </li>
            <li class="px-2 py-2">
                <em class="fas fa-cog" style="margin-right: 16px"></em
                ><a routerLink="settings" class="text text-dark" style="text-decoration: none">Project Settings</a>
            </li>
        </div>
        <hr />
        <div class="not-implemented" style="cursor: not-allowed">
            <li class="px-2 py-2">
                <em class="fas fa-columns" style="margin-right: 16px"></em>
                <a href="#" class="text text-dark" style="text-decoration: none">Releases</a>
            </li>
            <li class="px-2 py-2">
                <em class="far fa-check-square" style="margin-right: 16px"></em
                ><a href="#" class="text text-dark" style="text-decoration: none"> Issues and filters</a>
            </li>
            <li class="px-2 py-2">
                <em class="far fa-file-alt" style="margin-right: 16px"></em
                ><a href="#" class="text text-dark" style="text-decoration: none"> Pages</a>
            </li>
            <li class="px-2 py-2">
                <em class="fas fa-chart-line" style="margin-right: 16px"></em
                ><a href="#" class="text text-dark" style="text-decoration: none">Reports</a>
            </li>
            <li class="px-2 py-2">
                <em class="far fa-calendar" style="margin-right: 16px"></em
                ><a href="#" class="text text-dark" style="text-decoration: none">Components</a>
            </li>
        </div>
    </ul>
</div>
